/* Colors */
$slate: rgba(80, 81, 79, 1);
$honeydew: rgba(237, 255, 236, 1);
$blu: rgba(36, 123, 160, 1);
$sun: rgba(255, 166, 48, 1);

/* App */
.app {
	.nav {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 5vh;
		background: $slate;

		.nav__brand_title {
			font-size: 24px;
			color: $honeydew;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	.weather {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 95vh;
		background: darken( white, 6% );

		.widget {

			.widget__input {
				display: flex;
				flex-direction: row;
				align-items: center;
				
				label {
					margin-right: 10px;
					font-weight: bold;
					font-size: 18px;
				}

				input {
					width: 100px;
					border-radius: 5px;
					box-shadow: 0px 2px 1px rgba(0,0,0,0.1);
					outline-width: 0;
					border-style: solid;
					padding: 10px 7px 10px 15px;
					font-size: 20px;	
					letter-spacing: 8px;
				}
			}

			.widget__data {
				display: flex;
				flex-direction: row;
				background: white;
				box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
				border-radius: 10px;
				margin-top: 35px;

				.data__city {
					width: 140px;
					padding: 10px;
					display: flex;
					flex-direction: column;
					
					.city-name {
						margin-top: 5px;
						text-align: center;
						text-transform: uppercase;
						font-weight: bold;
					}

					.city__icon {
						align-self: center;

					}
				}

				@mixin day-info($bg: white, $name-col: #222, $temp-col: $blu ) {
					width: 80px;
					text-align: center;
					background: $bg;
					
					.day__name {
						color: $name-col;
						text-transform: uppercase;
						font-weight: bold;
					}
					
					.day__temp {
						color: $temp-col;
						font-size: 38px;
						margin-top: 0;
						margin-bottom: 20px;
					}
				}

				.data__today {
					@include day-info(darken( white, 3% ), #222, $blu)
				}

				.data__day {
					@include day-info(none, rgb(168, 168, 168), $slate)
				}
			}
		}

		.widget__error-area {
			height: 20px;

			.widget__error-message_show {
				margin-top: 20px;
				color: rgb(179, 0, 0);

				&::first-letter {
					text-transform: uppercase;
				}
			}
			
		}

		.cred {
			align-self: flex-end;
		}
	}
}

