/* RGB */
$slate: rgba(80, 81, 79, 1);
$honeydew: rgba(237, 255, 236, 1);
$white: rgba(255, 252, 255, 1);
$blu: rgba(36, 123, 160, 1);
$sun: rgba(255, 166, 48, 1);

.app {
	.nav {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 5vh;
		background: $blu;

		.nav__brand_title {
			font-size: 24px;
			color: $honeydew;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	.weather {
		height: 95vh;
		background: $white;
	}
}

